@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    font-family: 'Noto Serif';
    font-size: 18px;
    line-height: 1.8;
    padding-bottom: 20px;
    background-image: url("Cyber_Space.PNG.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.content {
    color: #ffffff;
    background-color: #23103fda;
    margin: auto;
    padding: 40px 6%;
    max-width: 540px;
    border-radius: 10px;
}

a {
    color: #b686ff;
}
h1, h2, h3, h4 {
    text-align: center;
    line-height: 1;
}
.example {
    font-family: sans-serif;
    line-height: 1.2;
    font-size: 16px;
    color: #CFD0D1;
    background-color: #15202B;
    padding: 16px;
    margin: auto 26px;
    border-radius: 8px;
}
.example #datetime {
    color: #8B98A5;
}
.example #datetime span {
    color: #f7f9f9;
    font-weight: bold;
}
.pfp {
    width: 200px;
    margin: 40px auto;
    display: block;
    border-radius: 125px;
    border: 5px solid #7E49CE;
}
.muse-link {
    color: white;
    background-color: #9475D8;
    padding: 8px;
    margin: 7px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    max-width: 120px;
    transition: background-color .2s;
    text-shadow: 0px 0px 12px #353535a2;
}
.muse-link:hover {
    background-color: #7835dd;
}
.muse-link-inactive {
    color: white;
    background-color: #75688f;
    padding: 8px;
    margin: 7px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    max-width: 120px;
}
.muse-link img, .muse-link-inactive img {
    width: 100px;
    height: 100px;
    padding-bottom: 6px;
    display: block;
}
.emojis-block {
    display: inline-block;
    border: 1px solid #000000;
    background-color: #00000079;
    border-radius: 8px;
    margin-top: 4px;
}

.full-width {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 25px;
}

@media (max-width: 622px) {
    .muse-link {
        padding: auto;
        margin: 5% auto;
        width: 100%;
        max-width: 95%;
        display: block;
    }
    .muse-link img {
        width: 100%;
        max-width: 100%;
        height: 170px;
        padding-bottom: 6px;
        display: block;
        object-fit: cover;
    }
}